.header {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9eae5;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #32297e;
    margin-left: 1.7rem;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-right: 2rem;
    list-style: none;
    gap: 1rem;

    li {
      font-size: 1.2rem;

      a {
        color: #32297e;
      }
    }
  }
}
